.detailsContent {
    margin-top: 60px;
  }
  
  .detailsContentWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  .tabsWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Khoảng cách giữa các tab */
  }
  
  .tabsHeads {
    display: flex;
    justify-content: flex-start; /* Canh lề trái */
    gap: 30px; /* Tạo khoảng cách giữa các tab */
    margin-bottom: 20px;
  }
  
  .tabsHead {
    background: none;
    border: none;
    color: #6c757d;
    font-size: 16px;
    font-weight: 500; /* Để tab rõ ràng hơn */
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s, border-color 0.3s;
  }
  
  .tabsHead:hover {
    color: #007bff; /* Màu sắc khi hover */
    text-decoration: underline; /* Gạch chân khi hover */
  }
  
  .tabsHeadActive {
    color: #007bff; /* Màu sắc cho tab đang được chọn */
    font-weight: 600;
    border-bottom: 2px solid #007bff; /* Gạch dưới tab đang được chọn */
  }
  
  .tabsBadge {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 10px;
  }
  
  .tabsContents {
    margin-top: 20px;
  }
  
  .tabsContent {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .contentStylings {
    font-size: 14px;
    line-height: 1.6;
  }
  