.breadcrumbs {
    background: #f5f5f5
      url("//dorno-demo.myshopify.com/cdn/shop/files/testi_bg_2_3c8502bd-60a4-403a-9378-a39ac074dd01.jpg?v=1652605155")
      no-repeat center center / cover;
    padding: 50px 0;
    padding-left: 125px;
  }
  
  .overlay-bg::before {
    background: #000;
    opacity: 0.5;
  }
  
  .breadcrumb-wrap .breadcrumb {
    display: flex;
    gap: 5px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .breadcrumb-item a {
    color: #222;
    text-decoration: none;
  }
  
  .breadcrumb-item span {
    color: #0b75a8;
    padding: 11px;
  }
  
  @media (max-width: 767px) {
    .breadcrumbs {
      padding: 25px 0;
    }
  }
  
  